body {
    color: gray;
    font-family: Arial;
    font-size: 22px;
}

h2 {
    color: red;
    font-size: 24px;
}
h1 {
    color: brown;
}

h1:hover {
    color: aqua;
    transition: color 1s;
}

#collections-table img:hover {
    width: 140px;
    transition: width 2s;
}

.colored-tr {
    background-color: chartreuse;

}

table {
    border-spacing: 0;
}

#collections-table tr:hover {
    background-color: rgba(38, 183, 79, 0.22);
    transition: background-color 0.5s;
}

#menu td{
    padding-right: 15px;
}
#menu {
    margin: 15px;
}

a {
    color: darkgray;
    font-weight: bold;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
    color: dimgray;
    transition: color 0.5s;
}

#trainer-img {
    border-radius: 50%;
}
#trainer-table {
    text-align: center;
}

form label {
    display: inline-block;
    width: 150px;
}

form input {
    border-color: darksalmon;
    border-style: solid;
    border-radius: 7px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

