<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Trainer-manager</title>
    <link th:href="@{/style.css}" rel="stylesheet">
</head>

<body>



    <table width="100%">
        <tr height="150px">
            <td bgcolor="#f0ffff">

                <table border="1" width="100%">
                    <tr >
                        <td height="100px" width="100px">
                            <img width="100px" src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcRY8w6BnzdX4q8kJguTtvHkqPcDISoC6KihkA&usqp=CAU">
                        </td>
                        <td><h1 align="center">SWIMMING SCHOOL</h1></td>

                    </tr>
                </table>



            </td>
        </tr>
        <tr height="75px">
            <td bgcolor="#7fffd4">

                <table id="menu">
                    <tr>
                        <td><a th:href="@{/index}">Главная</a></td>
                        <td><a th:href="@{/registration}">Регистрация</a></td>

                    </tr>
                </table>

            </td>
        </tr>
        <tr height="200px">
            <td >

                <hr>
                <h2>Запись:</h2>
                <form method="POST" th:action="@{/appointments/create}" th:object="${createAppointment}">
                    <label for="time">Время:</label>
                    <input type="text" id="time" th:field="*{time}">
                    <br>
                    <label for="first-name">Имя:</label>
                    <input type="text" id="first-name" th:field="*{firstNameVisitor}">
                    <br>
                    <label for="last-name">Фамилия:</label>
                    <input type="text" id="last-name" th:field="*{lastNameVisitor}">
                    <br>
                    <label for="phone">Телефон:</label>
                    <input type="text" id="phone" th:field="*{phoneNumber}">
                    <br>
                    <input type="hidden" id="trainerId" name="trainerId" th:value="${trainerOne.id}">

                    <input type="submit" value="Записаться!">

                </form>

                <hr>



            </td>
        </tr>
        <tr height="75px">
            <td bgcolor="#a52a2a">4</td>
        </tr>

    </table>

</body>


</html>