<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Trainer-manager</title>
    <link th:href="@{/style.css}" rel="stylesheet">
</head>

<body>






    <table width="100%">
        <tr height="150px">
            <td bgcolor="#f0ffff">

                <table border="1" width="100%">
                    <tr >
                        <td height="100px" width="100px">
                            <img width="100px" src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcRY8w6BnzdX4q8kJguTtvHkqPcDISoC6KihkA&usqp=CAU">
                        </td>
                        <td><h1 align="center">SWIMMING SCHOOL</h1></td>
                    </tr>
                </table>



            </td>
        </tr>
        <tr height="75px">
            <td bgcolor="#7fffd4">

                <table id="menu">
                    <tr>
                        <td><a href="#">Главная</a></td>
                        <td><a th:href="@{/registration}">Регистрация</a></td>

                    </tr>
                </table>



            </td>
        </tr>
        <tr height="200px">
            <td bgcolor="#f5f5dc">

                <h2>Наши тренеры:</h2>
                <table id="collections-table" width="100%">
                    <tr class="colored-tr" th:each="trainer : ${all_trainer}" >
                        <td width="80px"><img width="80px" src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcRn6pavgU33L-iX7jSTpy4Z6JEst95Je2vsow&usqp=CAU"></td>
                        <td width="15%" ><a th:text="${trainer.getFirstName()}" th:href="@{/trainers/open/{id} (id=${trainer.id})}"></a></td>
                        <td width="35%" ><a th:text="${trainer.getLastName()}"th:href="@{/trainers/open/{id} (id=${trainer.id})}"></a></td>
                        <td th:text="${trainer.getWorkExperience()}"></td>
                        <td width="70px"><a th:href="@{/appointments/open/{trainerId} (trainerId=${trainer.id})}">Записаться</a></td>

                    </tr>


                </table>
            </td>
        </tr>
        <tr height="75px">
            <td bgcolor="#a52a2a">4</td>
        </tr>

    </table>

</body>


</html>