<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Trainer-manager</title>
    <link th:href="@{/style.css}" rel="stylesheet">
</head>

<body>



    <table width="100%">
        <tr height="150px">
            <td bgcolor="#f0ffff">

                <table border="1" width="100%">
                    <tr >
                        <td height="100px" width="100px">
                            <img width="100px" src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcRY8w6BnzdX4q8kJguTtvHkqPcDISoC6KihkA&usqp=CAU">
                        </td>
                        <td><h1 align="center">SWIMMING SCHOOL</h1></td>

                    </tr>
                </table>



            </td>
        </tr>
        <tr height="75px">
            <td bgcolor="#7fffd4">

                <table id="menu">
                    <tr>
                        <td><a th:href="@{/index}">Главная</a></td>
                        <td><a href="#">Регистрация</a></td>

                    </tr>
                </table>

            </td>
        </tr>
        <tr height="200px">
            <td >
                <h2>Представтесь:</h2>
<!--                <form method="POST" th:action="@{/trainers/login}" th:object="${loginDto}">-->
<!--                    <label for="login">Login:</label>-->
<!--                    <input type="text" id="login" th:field="*{email}">-->
<!--                    <br>-->
<!--                    <label for="password">Pass:</label>-->
<!--                    <input type="text" id="password" th:field="*{password}">-->
<!--                    <br>-->
<!--                    <br>-->
<!--                    <input type="submit" value="Войти!">-->

<!--                </form>-->

                <hr>

               <h2>Регистрация:</h2>
                <form method="POST" th:action="@{/trainers/create}" th:object="${createDto}">
                    <label for="name">Name</label>
                    <input type="text" id="name" th:field="*{firstName}">
                    <br>
                    <label for="last-name">Last-name</label>
                    <input type="text" id="last-name" th:field="*{lastName}">
                    <br>
                    <label for="workExperience">Experience</label>
                    <input type="text" id="workExperience" th:field="*{workExperience}">
                    <br>
                    <label for="email">Email</label>
                    <input type="text" id="email" th:field="*{email}">
                    <br>
                    <label for="pas">Password</label>
                    <input type="password" id="pas" th:field="*{password}">
                    <br>
                    <input type="submit" value="Создать!">
                    </form>



            </td>
        </tr>
        <tr height="75px">
            <td bgcolor="#a52a2a">4</td>
        </tr>

    </table>

</body>


</html>