<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Trainer-manager</title>
    <link th:href="@{/style.css}" rel="stylesheet">
</head>

<body>



    <table width="100%">
        <tr height="150px">
            <td bgcolor="#f0ffff">

                <table border="1" width="100%">
                    <tr >
                        <td height="100px" width="100px">
                            <img width="100px" src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcRY8w6BnzdX4q8kJguTtvHkqPcDISoC6KihkA&usqp=CAU">
                        </td>
                        <td><h1 align="center">SWIMMING SCHOOL</h1></td>
                    </tr>
                </table>



            </td>
        </tr>
        <tr height="50px">
            <td bgcolor="#7fffd4">

                <table id="menu">
                    <tr>
                        <td><a th:href="@{/index}">Главная</a></td>
                        <td><a th:href="@{/registration}">Регистрация</a></td>

                    </tr>
                </table>



            </td>
        </tr>
        <tr height="150px">
            <td>

                <h2>Тренер:</h2>
                <table width="600px">

                    <tr height="200px">
                        <td width="300px">
                            <img id="trainer-img" width="300px" src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcRn6pavgU33L-iX7jSTpy4Z6JEst95Je2vsow&usqp=CAU">
                        </td>
                        <td rowspan="2" valign="top">
                            <table  id="trainer-table" width="100%" >
                                <tr>
                                    <td th:text="${trainer.getFirstName()}"></td>
                                </tr>
                                <tr>
                                    <td th:text="${trainer.getLastName()}"></td>
                                </tr>

                                <tr >
                                    <td  th:text="${trainer.getWorkExperience()}"></td>
                                </tr>
                                <tr>
                                    <td th:text="${trainer.getEmail()}"></td>
                                </tr>

                            </table>

                        </td>
                    </tr>


                </table>
            </td>
        </tr>
        <tr height="75px">
            <td >
                <h2>Мои Записи!</h2>
                <table width="100%" border="1" >
                    <tr th:each="appointment : ${appointments}">
                        <td th:text="${appointment.getTime()}"></td>
                        <td th:text="${appointment.getFirstNameVisitor()}"></td>
                        <td th:text="${appointment.getLastNameVisitor()}"></td>
                        <td th:text="${appointment.getPhoneNumber()}"></td>
                    </tr>

                </table>

            </td>
        </tr>
        <tr >
            <td >
                <hr>


                <form method="POST" th:action="@{/comments/create}" th:object="${commentIn}">
                    <h2>Оставить коммент:<textarea rows="4" cols="50" th:field="*{message}">
                    </textarea></h2>
                    <label for="first-name">Имя:</label>
                    <input type="text" id="first-name" th:field="*{firstName}">
                    <label for="last-name">Фамилия:</label>
                    <input type="text" id="last-name" th:field="*{lastName}">
                    <label for="grade">Оценка:</label>
                    <input type="text" id="grade" th:name="*{grade}">
                    <br>
                    <input type="hidden" id="trainerId" name="trainerId" th:value="${trainer.id}">
                    <br>
                    <input type="submit" value="Комментировать!">

                </form>
                <hr>
                <h2>Комментарии!</h2>
                <table width="100%" border="1" bgcolor="#f0ffff" >
                    <tr th:each="comment : ${comments}">
                        <td th:text="${comment.getMessage()}"></td>
                        <td th:text="${comment.getFirstName()}"></td>
                        <td th:text="${comment.getLastName()}"></td>

                    </tr>
                </table>
            </td>
        </tr>

    </table>

</body>


</html>